#calendar {

}
#arrowCont {
    display: flex;
    flex-direction: row;
}
#month {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
#pastEvents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}


.leftAlign {
    text-align: left;
}

#upcomingEventsCont {
    margin-bottom: 70px;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* mobile (portrait) */
@media only screen and (max-width: 640px) {
    #pastEvents {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }
}


/* tablet & mobile (landscape) */
@media only screen and (min-width: 641px) and (max-width: 991px) {
    #pastEvents {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }
}