#pastEventCard {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

#pastEventCardImg {
    position: absolute;
    top: 0;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#pastEventCardImgHovered {
    transform: scale(1.2);
    filter: blur(4px);
    position: absolute;
    top: 0;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#imageWrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    z-index: 99999;

    padding: 25px;
}

.white {
    color: #FFFFFF;
}

#titlePastEvent {
    margin-bottom: 20px;
}

/* mobile (portrait) */
@media only screen and (max-width: 640px) {
    #imageWrapper {
        padding: 45px;
    }
}


/* tablet & mobile (landscape) */
@media only screen and (min-width: 641px) and (max-width: 991px) {
    #imageWrapper {
        padding: 25px;
    }
}