.App {
  text-align: center;
}

.main {
  padding-top: 87px;
  padding-bottom: 137px;
}


/* ########################################## FONT STYLES #################################################*/
/* mobile (portrait) */
@media only screen and (max-width: 640px) {
  .header {
    margin: 15px auto;
    margin-bottom: 25px;
    font-size: 35px;
  }

  .subheader {
    font-size: 28px;
    margin: 30px auto;
    margin-top: 45px;
  }
}

/* tablet & mobile (landscape) */
@media only screen and (min-width: 641px) and (max-width: 991px) {
  .header {
    margin: 30px auto;
    margin-bottom: 40px;
    font-size: 45px;
  }

  .subheader {
    font-size: 35px;
    margin: 30px auto;
    margin-top: 60px;
  }
}

/* desktop*/
@media only screen and (min-width: 992px) {
  .header {
    margin: 30px auto;
    margin-bottom: 55px;
    font-size: 55px;
  }

  .subheader {
    font-size: 45px;
    margin: 50px auto;
    margin-top: 85px;
  }
}