.App {
  text-align: center;
}

.main {
  padding-top: 130px;
  padding-bottom: 137px;
}

/* ########################################## NAV LINKS #################################################*/
a {
  font-family: 'lust', serif;
  font-size: 16px;

  color: #000000;
  text-decoration: none; /* no underline */
}

a:link, a:visited{
  color: #000000;
  /*background-color: transparent;*/
  text-decoration: none;
}

a:hover {
  color: lightblue !important;
  /*background-color: transparent;*/
  text-decoration: none;
}

a:active {
  color: #000000;
  /*background-color: transparent;*/
  text-decoration: none;
}

.linkClass {
  font-family: 'lust', serif;
  font-size: 16px;

  color: #000000;
  text-decoration: underline !important;
}

.linkClass a:link, a:visited{
  color: #000000;
  /*background-color: transparent;*/
  text-decoration: underline !important;
}

.linkClass a:hover {
  /*background-color: transparent;*/
  text-decoration: underline !important;
}

.linkClass a:active {
  color: #000000;
  /*background-color: transparent;*/
  text-decoration: underline !important;
}

.centeredText {
  text-align: center;
}

.maxBodyWidth {
  max-width: 700px;
  margin: auto;
}


/* ########################################## FONT STYLES #################################################*/
/* mobile (portrait) */
@media only screen and (max-width: 640px) {
  a {
    font-family: 'lust', serif;
    font-size: 12px;

    color: #000000;
    text-decoration: none; /* no underline */
  }
  .linkClass {
    font-family: 'lust', serif;
    font-size: 12px;

    color: #000000;
    text-decoration: underline !important;
  }
  .header {
    margin-bottom: 45px;

    font-family: 'lust', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    /* or 79px */
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
  }

  .subheader {
    font-family: 'bebas-neue-pro', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    /* or 60px */
    letter-spacing: 0.2em;

    align-items: center;
    text-align: center;
    margin-bottom: 70px;
  }

  .body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    letter-spacing: 0.03em;
  }

  .details {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    /* or 24px */
    letter-spacing: 0.03em;
  }
}

/* tablet & mobile (landscape) */
@media only screen and (min-width: 641px) and (max-width: 991px) {
  a {
    font-family: 'lust', serif;
    font-size: 12px;

    color: #000000;
    text-decoration: none; /* no underline */
  }
  .linkClass {
    font-family: 'Playfair Display SC', serif;
    font-size: 12px;

    color: #000000;
    text-decoration: underline !important;
  }

  .header {
    margin-bottom: 45px;

    font-family: 'lust', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 120%;
    /* or 79px */
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
  }

  .subheader {
    font-family: 'bebas-neue-pro', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 120%;
    /* or 60px */
    letter-spacing: 0.1em;

    align-items: center;
    text-align: center;
    margin-bottom: 70px;
  }

  .body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    letter-spacing: 0.03em;
  }

  .details {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    /* or 24px */
    letter-spacing: 0.03em;
  }
}

/* desktop*/
@media only screen and (min-width: 992px) {
  .header {
    margin-bottom: 45px;

    font-family: 'lust', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    /* or 79px */
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
  }

  .subheader {
    font-family: 'bebas-neue-pro', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    /* or 60px */
    letter-spacing: 0.1em;

    align-items: center;
    text-align: center;
    margin-bottom: 70px;
  }

  .body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
    /* or 24px */
    letter-spacing: 0.03em;
  }

  .details {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    letter-spacing: 0.03em;
  }
}